<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <link rel="shortcut icon" type="image/x-icon" href="/images/blood-drop-icon.png" />
    <title>BloodBank.com &ndash; Login</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/stylesheets/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/stylesheets/marketing.css">
    <!--<![endif]-->

    <style>
        .normal-layout
        {
            background-color:#303F9F;
        }
    </style>
</head>
<body>


<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/loggedinhomepage">BloodBank.com</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/loggedinhomepage" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
        </ul>
    </div>
</div>
<div class="content normal-layout">
    <h1 class="content-head is-center">Send Request For Blood Here</h1>
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <img alt="File Icons" width="100%" src="/images/8.jpg">
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                  YOUR REQUEST IS ACCEPTED
                  The details of Your Blood Group Donors Are Mailed Please Check Your Mail Thank You!!Visit Again
        </div>
    </div>
</div>
<div class="footer l-box is-center">
    Copyrights Reserved © BloodBank.com
</div>
</body>
</html>























<!--

 <form class="pure-form pure-form-stacked" action="returnRequest.html">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="where">Where?</label>
                        <input id="where" type="text" placeholder="Place of requirement in detail.">
                    </div>

                    <div class="pure-control-group">
                        <label for="when">When?</label>
                        <input id="when" type="text" placeholder="When blood is required.">
                    </div>

                    <div class="pure-control-group">
                        <label for="blood-group">Which Blood Group?</label>
                        <select id="blood-group" class="pure-input-1-2">
                            <option value="abp">AB+</option>
                            <option value="abn">AB-</option>
                            <option value="ap">A+</option>
                            <option value="an">A-</option>
                            <option value="bp">B+</option>
                            <option value="bn">B-</option>
                            <option value="op">O+</option>
                            <option value="on">O-</option>
                        </select>
                    </div>
                    <br><br>
                    <button type="submit" class="pure-button pure-button-primary">Request Now?</button>

                </fieldset>
            </form>

           -->